<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<html ng-app="app">
<head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="css/roboto.min.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="navbar navbar-yellow">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Kahvecii</a>
        </div>
    </div>
    <div ng-controller="BeverageController">
        <div class="col-md-8">

            <form class="CoffeeForm" role="form" ng-submit="giveMeCoffee()">
                <div class="form-group">
                    <label for="drink" class="control-label">Drink</label>
                    <select ng-init="drink = beverages[0]" ng-model="drink"
                            ng-options="b.name for b in beverages | orderBy:'name'" ng-required="true"
                            class="form-control" ng-change="addBeverage()"> </select>
                </div>
                <div class="form-group">
                    <label for="drink.sizes" class="control-label">Size</label>
                    <select ng-init="size = drink.sizes[0]" ng-model="size" ng-options="size for size in drink.sizes"
                            ng-required="true"
                            class="form-control" ng-change="changeSize()"> </select>
                </div>
                <div class="form-group">
                    <label for="drink.syrup" class="control-label">Syrup</label>
                    <select ng-model="syrup" ng-options="syrup for syrup in syrups" ng-required="true"
                            class="form-control" ng-change="changeSyrup()"> </select>
                </div>
                <div class="form-group">
                    <label for="drink.extra" class="control-label">Extras</label>
                    <select ng-model="extra" ng-options="extra for extra in drink.extras" ng-required="true"
                            class="form-control" ng-change="changeExtra()"> </select>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Price</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-show="drink.price">
                            <span class="badge">{{drink.price}} TL</span>
                            {{drink.name}}
                        </li>
                        <li class="list-group-item" ng-show="size_total != 0">
                            <span class="badge">{{size_total}} TL</span>
                            {{size}}
                        </li>
                        <li class="list-group-item" ng-show="syrup_total != 0">
                            <span class="badge" ng-click="cancelSyrup()"> X</span>
                            <span class="badge">{{syrup_total}} TL</span>
                            {{syrup}}
                        </li>
                        <li class="list-group-item" ng-show="extra_total != 0">
                            <span class="badge" ng-click="cancelExtra()"> X</span>
                            <span class="badge">{{extra_total}} TL</span>
                            {{extra}}
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" ng-show="total != 0"><b>TOTAL :</b>

                    <h2> {{total}} TL</h2>
                    <button ng-click="order()" class="btn btn-primary btn-raised btn-lg" data-toggle="modal"
                            data-target="#order-dialog">Order
                        <div class="ripple-wrapper"></div>
                    </button>
                    <button ng-click="cancel()" class="btn btn-primary btn-raised btn-lg" data-toggle="modal"
                            data-target="#cancel-dialog">Cancel
                        <div class="ripple-wrapper"></div>
                    </button>
                </div>
            </div>
        </div>
        <div id="order-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <center><p>
                            <h1>{{message}}</h1></p></center>
                    </div>
                </div>
            </div>
        </div>

        <div id="cancel-dialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <center><p>

                            <h1>Canceled the order!</h1></p></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/ripples.min.js"></script>
<script src="js/material.min.js"></script>
<script>
    $(document).ready(function () {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>